body {
    background-color: black;
}

#homeTitle {
    text-align: center;
    font-family: 'Philosopher';
    color: white;
    font-size: 8em;
    font-weight: 400;
    letter-spacing: 0.05em;
}

#homeDescription {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #E5E5E5;
    font-size: 1.75em;
    font-weight: 700;
    margin-top: -2em;
}

#homeButtonsDiv {
    text-align: center;
}

.homeButtons {
    background-color: #BABABA;
    border-style: none;
    width: 14em;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

#homeInBetweenButtons {
    display: inline-block;
    color: white;
    font-family: 'Philosopher';
    padding-left: 3em;
    padding-right: 3em;
    font-size: 3em;
}