<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/questions.css') }}">
    <title>Write My Rights</title>
    <!-- Montserrat Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"> -->
</head>
<body>

    <a href="/index"><img id="greylogo" src="{{ url_for('static',filename='images/Write my Rights.PNG') }}"/></a>
    
    <div id="fetchLetterProgressBarDiv">
    <svg id="progressBarFetch" width="100%" height="20 px">
        <rect width="100%" height="1em" style="fill: #666;" rx="8" ry="8" />
        <rect width="0%" height="1em" style="fill: #fff;" rx="8" ry="8" id="myBar" />
    </svg><br>
    <p id="writingLetterText" onclick="location.href='letterPreview.html'">Writing your letter...</p>
    </div>

    <!-- <div class="w3-grey w3-round-xlarge w3-tiny">
        <div class="w3-container w3-white w3-round-xlarge" style="width: 1000px;"></div>
    </div> -->

    <script src= "{{ url_for('static',filename='questions.js') }}">
    </script>
</body>
</html>