<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="questions.css">
    <title>Write My Rights</title>
    <!-- Montserrat Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

        <a href="./index"><img id="homeNavbarPicture" src="{{url_for('static', filename='images/Write my Rights.PNG')}}"/></a>
    
    <div class="progressDiv">
        <svg class="progressBarOne" width="1100 px" height="20 px">
            <rect width="1000px" height="10px" style="fill: #dddddd;" rx="8" ry="8" />
            <rect width="1000px" height="10px" style="fill: #303852;" rx="8" ry="8" />
        </svg>
    </div>

    <div class="questionDiv">
        <p class="questionText">Tell us your email address where we can send you your letter.*</p>
        <input type="text" class="questionInput" value="ex. email@domain.com">
        <input type="text" id="confirmEmailInput" value="Please type your email again to confirm">
    </div>

    <br>

    <div class="buttonDiv">
        <img src="{{url_for('static', filename='images/black back arrow.PNG')}}" alt="Back" class="backArrow" onclick="location.href='questionSeven.html'">
        <img src="../images/black arrow.png" alt="Next" class="frontArrow" onclick="location.href='questionNine.html'">
    </div>

    
</body>
</html>