<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/questions.css') }}">
    <title>Write My Rights</title>
    <!-- Montserrat Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <a href="/index"><img class="greylogo" src="{{ url_for('static',filename='images/black logo.PNG') }}"/></a>
    
    <div class="progressDiv">
    <svg class="progressBarOne">
        <rect width="1000px" height="10px" style="fill: #dddddd;" rx="8" ry="8" />
        <rect width="100px" height="10px" style="fill: #303852;" rx="8" ry="8" />
    </svg>
    </div>

    <form action="{{url_for('answer')}}" method="post">
    <div class="questionDiv">
        <p class="questionText">What is your full name?*</p>
        <input type="text" class="questionInput" placeholder="ex. John Smith" value="{{request.form.answer}}" name="answer">
        <input type="hidden" value="name" name="key">
        <input type="hidden" value="/questionTwo" name="next_page">
    </div>

    <br>

    <div class="buttonDiv">
        <img src="{{url_for('static', filename='images/black back arrow.png')}}" alt="Back" class="backArrow"/>
        <input type="image" name="submit" src="{{url_for('static', filename='images/black arrow.png')}}" alt="Next" class="frontArrow"/>
    </div>
    </form>


</body>
</html>