<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/questions.css') }}">
    <title>Write My Rights</title>
    <!-- Montserrat Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>

    <a href="./index"><img class="greylogo" src="{{ url_for('static',filename='images/black logo.PNG') }}"/></a>
    
    <div class="progressDiv">
        <svg class="progressBarOne" width="1100 px" height="20 px">
            <rect width="1000px" height="10px" style="fill: #dddddd;" rx="8" ry="8" />
            <rect width="400px" height="10px" style="fill: #303852;" rx="8" ry="8" />
        </svg>
    </div>

    <form action="{{url_for('answer')}}" method="post">
    <div class="questionDiv">
        <p class="questionText">What is your ex-boss(es) name?*</p>
        <input type="text" class="questionInput" placeholder="ex. John Smith" name="answer">
        <input type="hidden" value="bossName" name="key">
        <input type="hidden" value="/question6" name="next_page">
    </div>

    <br>

    <div class="buttonDiv">
        <a href="/questions/question4"><img src="{{url_for('static', filename='images/black back arrow.PNG')}}" alt="Back" class="backArrow">
        <input type="image" name="submit" src="{{url_for('static', filename='images/black arrow.PNG')}}" alt="Next" class="frontArrow">
    </div>
    </form>
    
</body>
</html>