<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="questions.css">
    <title>Write My Rights</title>
    <!-- Montserrat Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>

<body>

    <a href="./index.html"><img class="greylogo" src="../images/black logo.png" /></a>

    <div class="progressDiv">
        <svg class="progressBarOne" width="1100 px" height="20 px">
            <rect width="1000px" height="10px" style="fill: #dddddd;" rx="8" ry="8" />
            <rect width="200px" height="10px" style="fill: #303852;" rx="8" ry="8" />
        </svg>
    </div>

    <div class="questionDiv">
        <p class="questionText">What is the name of the company you worked for?*</p>
        <input type="text" class="questionInput" value="ex. Write My Rights">
    </div>

    <br>

    <div class="buttonDiv">
        <img src="../images/black back arrow.png" alt="Back" class="backArrow"
            onclick="location.href='questionOne.html'">
        <img src="../images/black arrow.png" alt="Next" class="frontArrow" onclick="location.href='questionThree.html'">
    </div>


</body>

</html>