body {
    background-color: white;
}

#wrmNavbarPicture {
    position: absolute;
    width: 5em;
    height: 5em;
    padding-top: 0.5em;
    padding-left: 5em;
    cursor: pointer;
}

#wrmNavbarAlign {
    text-align: center;
    margin:auto;
}

#wrmNavbar {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}

li {
    display: inline-block;
}

#wrmNavbarWrmText {
    color: white;
}

.wrmNavbarAllText {
    display: block;
    padding-top: 0.5em;
    padding-right: 1em;
    padding-left: 1em;
    color: #8D8D8D;
    font-family: 'Philosopher';
    text-decoration: none;
    text-align: center;
    font-size: 2.25em;
  }


#wrmDescriptionAlgin {
    margin-left: auto;
    margin-right: auto;
    
}

#wrmDescription {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 2.5em;
    font-weight: 400;
    margin-top: 2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

#wrmButtonsDiv {
    text-align: center;
}

#paymentTableButtonsDiv {
    text-align: center;
    margin-top: -5em;
}

.wrmButtons {
    background-color: #BABABA;
    border-style: none;
    width: 16em;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline:none;
    cursor: pointer;
}

#payment {
    border-radius: 15px;
    border: 2px solid #ffffff;
    padding: 20px; 
    width: 100px;
    height: 75px; 
    margin: auto;
  }


.next {
    background-color: #BABABA;
    border-style: none;
    width: 10em;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline:none;
    cursor: pointer;
    margin: 2em;

}
.buttons {
    background-color: #F7F7F8;
    color: #303852;
    border-style: none;
    width: 14em;
    border-radius: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1em;
    padding-right: 1em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline:none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.buttons:hover,
.buttons:focus {
    background-color: #303852;
    color: white;
    transform: scale(1.02);
    text-decoration: none;
    cursor: pointer;
  }

  .buttons2 {
    background-color: #e1e1e1;
    color: #303852;
    border-style: none;
    width: 10em;
    border-radius: 2em;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    outline:none;
    cursor: pointer;
    transition-duration: 0.3s;
}

.buttons2:hover,
.buttons2:focus {
    background-color: #303852;
    color: white;
    transform: scale(1.02);
    text-decoration: none;
    cursor: pointer;
  }

#employee {
    border-radius: 15px;
    border: 2px solid #333333;
    padding: 20px; 
    width: 100px;
    height: 75px; 
    margin: auto;
    position: relative;
  }

#consumer {
border-radius: 15px;
border: 2px solid #333333;
padding: 20px; 
width: 100px;
height: 75px; 
margin: auto;
}

#property {
    border-radius: 15px;
    border: 2px solid #333333;
    padding: 20px; 
    width: 100px;
    height: 75px; 
    margin: auto;

    }
.child {
    padding-inline-start: 0;
}

#letterBottomMessage {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 1.25em;
    font-weight: 400;
    margin-top: 2em;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}

.paymentTableImage {
    width: auto;
    height: 10em;
}


ul#allOptions li {
    display:inline;
}