html {
    scroll-behavior: smooth;
  }

body {
    background-color: white;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: #BABABA; 
  }

::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }

@font-face {
    font-family: Philosopher;
    src: url('./fonts/Philosopher-Regular.ttf');
}

.greylogo {
    position: relative;
    width: 5em;
    height: 5em;
    padding-top: 1.5em;
    padding-left: 3em;
    cursor: pointer;
}

.progressBar {
    overflow: visible;
    width: 100%;
    height: 1em;
}

.progressDiv {
    margin-top: -2.5em;
}

.questionText {
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 40px;
    color: black;
    letter-spacing: 0.05em;
}

.questionDiv {
    position: relative;
    padding-left: 20%;
    padding-top: 2em;
    width: 60%;
    margin-bottom: -5%;
}

.questionDiv5 {
    /* position: absolute; */
    padding-left: 350px;
    width: 1000px;
}

.questionInput {
    width: 100%;
    padding: 12px 0px;
    border: none;
    border-bottom: 2px solid #8493A0;
    font-size: 38px;
    background-color: None;
    color: #8493A0;
    font-family: 'Philosopher', sans-serif;
    transition: border-bottom 0.1s;
}

.questionInput:focus {
    outline: none;
    border-bottom: 6px solid #303852;
}


/* .backButton{
    background-color: none;
}

.frontButton{
    background-color: none;
} */

.backArrow {
    width: 8.5em;
    height: 7.5em;
    transition: transform .2s;
    cursor: pointer;
}

.backArrow:hover {
    transform: scale(1.15);
}

.frontArrow {
    /* width: 6.4em; */
    /* height: 5.4em; */
    width: 7.5em;
    height: 6.5em;
    padding-left: 3em;

    transition: transform .2s;
    outline: none;
}

.frontArrow:hover {
    transform: scale(1.15);
}

.buttonDiv {
    position:absolute;
    padding-left: 20%;
    height: 10%;
    bottom: 5%;
}

.questionButton {
    background-color: #e1e1e1;
    border: none;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    padding: 20px 35px;
    text-align: left;
    width: 620px;
    margin-bottom: 15px;
    transition-duration: 0.3s;
}

.questionButton:hover {
    transform: scale(1.025);
    background-color: #303852;
    color: white;
}

.questionRadioDiv input[type="radio"] {
    opacity: 0;
    position: fixed;
    width: 0;
  }

.questionRadioDiv label {
    background-color: #e1e1e1;
    border: none;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    padding: 10px 25px;
    text-align: left;
    width: 650px;
    transition-duration: 0.3s;
    margin-bottom: 1em;
    display: block;
}

.questionRadioDiv input[type="radio"]:checked + label {
    background-color: #303852;
    color: white;
}

.questionRadioDiv label:hover {
    transform: scale(1.025);
    background-color: #303852;
    color: white;
    cursor: pointer;
  }

#writingLetterText {
    font-family: 'Philosopher', sans-serif;
    color: black;
    font-size: 56px;
    letter-spacing: 0.03em;
    text-align: center;
}

#fetchLetterProgressBarDiv {
    position: relative;
    overflow: visible;
    align-items: center;
    width: 1000px;
    height: 150px;
    top: 40%;
    left: 20%;
}

#progressBarFetch {
    overflow: visible;
    position: relative;
    padding-top: 25%;
}

.letterPreviewText {
    font-family: 'Philosopher', sans-serif;
    color: black;
    font-size: 30px;
}

#titleDiv {
    color: black;
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    text-align: center;
}

#letterPreviewDiv {
    width: 1000px;
    padding-left: 350px;
}

#letterPreviewDiv2 {
    position: relative;
    padding-left: 350px;
    padding-top: 30px;
    padding-bottom: 100px;
    height: 100px;
    align-items: center;
}

#sendMeMyLetter {
    background-color: #F7F7F8;
    color: #303852;
    border: none;
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 2em;
    padding: 20px 25px;
    text-align: center;
    width: 320px;
    margin-bottom: 20px;
    transition-duration: 0.2s;
    bottom: 30%;
    position: relative;
}

#sendMeMyLetter:hover {
    transform: scale(1.025);
    background-color: #303852;
    color: white;
    cursor: pointer;
}

.letterPreviewBackArrow{
    padding-right: 80px;
}

.blurText {
    filter: blur(5px);
    font-family: 'Philosopher', sans-serif;
    color: black;
    font-size: 30px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.dropdown {
    width: 150px;
    border: none;
    border-bottom: 2px solid #8493A0;
    font-size: 36px;
    background-color: white;
    color: #8493A0;
    font-family: 'Philosopher', sans-serif;
    height: 50px;
    transition: border-bottom 0.1s;
}

.dropdown:focus {
    outline: none;
    border-bottom: 6px solid #303852;
}

.dropdownHeader {
    font-family: 'Montserrat', sans-serif;
    font-weight: medium;
    font-size: 30px;
    color: black;
    letter-spacing: 0.05em;
    border-bottom: 2px solid #303852;
    width: fit-content;
}

.hiddenInputs {
    display: none;
}

.checkbox {
    transform: scale(2);
}

.checkboxText {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    padding-left: 2%;
    display: inline-block;
    cursor: default;
}