<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
        <!-- Montserrat Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!-- Philosopher Font -->
        <style>
            @font-face {
            font-family: Philosopher;
            src: url('./static/fonts/Philosopher-Regular.ttf');
          }
        </style>
        <title></title>
        <meta charset = 'UTF8'>
        <script></script>
    </head>

    <body>
        <a href="./index"><img id="homeNavbarPicture" src="{{url_for('static', filename='images/Write my Rights.PNG')}}"/></a>

        <!-- 
            Index Section 
        -->
        <h1 id="homeTitle">WRITE MY RIGHTS</h1> </br></br>
        <h2 id="homeDescription">Do you have a simple legal problem, but don’t want to hire a lawyer? 
            Write My Rights helps you prepare a professionally written letter that you can send to the other side 
            to help you get what you deserve. </br></br>

            It’s fast, free, easy. Let’s get started.
            </h2>
    </br>
        <div id="homeButtonsDiv">
            <button class="homeButtons" id="wrmButton1">WRITE MY RIGHTS</button>
            <button class="homeButtons" id="scroll" onclick="faqScrollFunction()">TELL ME MORE</button>
        </div>

        <!--
             FAQ Section 
        -->
    <div id="faqTopDivs">
        <div class="faqDiv" id="faqScroll">
            <h1 class="faqHeader">Who is behind these letters?</h1>
            <h2 class="faqDescription">A small team of start-up lawyers. We’ve been helping our clients, 
                friends and families with legal issues for years,
                 and want to expand this service to the general public.</br></br></br></br></br></br>
            </h2>
            <button class="faqButtons" id="wrmButton2">LET'S GET WRITING</button>
        </div>

        <div class="faqSecondDiv">
            <h1 class="faqHeader">Why do I need this?</h1>
            <h2 class="faqDescription">Everyday legal problems — for workers, neighbours and consumers — often aren’t “worth” 
                enough to hire a lawyer. </br></br>
                But instead of paying up to $300 per hour for legal advice, you’ll get a letter for a fraction of that cost.
                That’s because this isn’t specific legal advice tailored to your situation.
                It’s a way for you to vocalize what you want — professionally, and persuasively.  </h2>
            </br>
            <button class="faqButtons" id="wrmButton3">HAND ME A PEN, PLEASE</button>
        </div>
    </div>

    <div id="faqBottomDivs">
        <div class="faqDiv" id="faqBottomDiv1">
            <h1 class="faqHeader">How does this work?</h1>
            <h2 class="faqDescription">You complete a short survey. You’ll then get an email from us, letting you know when the 
                letter will be ready. We then “ghostwrite” a letter and email it to you, ready for you to review and send to 
                your (ex-)employer. </br></br>

                <b>Many people in this situation do nothing. We’re helping you to take the first step.</b>  </h2>
            </br>
            <button class="faqButtons" id="wrmButton4">WRITE MY RIGHTS</button>
        </div>

        <div class="faqSecondDiv" id="faqBottomDiv2">
            <h1 class="faqHeader">What's this cost?</h1>
            <h2 class="faqDescription">Think of this as <b>a small investment in your rights as a worker. </b>
                Once you complete the form below, we’ll be in touch about pricing. You won’t be charged at this time. </br></br>

                Once the letter is ready, payment is processed securely through PayPal.  </h2>
            </br></br>
            <button class="faqButtons" id="wrmButton5">CAN WE GET STARTED?</button>
        </div>
    </div>
    
        <div id="faqThirdDiv">
            <button class="faqButtons" id="faqQuestionsButton">GOT ANY QUESTIONS?</button>
        </div>
    

        <!-- Questions Modal -->
        <div id="questionsModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <div id="questionsModalImageDiv">
                <img src="./static/images/Typewriter.jpg" id="questionsModalImage"/>
              </div>
              <h2 id="questionsModalDescription">Have comments, questions, or feedback to share? We'd love to hear from you. 
                Send us an email and we'll get back to you soon: 
                <p class="tosAndPp"><a href="mailto:hello@writemyrights.com?subject=Questions/Feedback">hello@writemyrights.com</a></p></h2>
            </div>    
        </div>  


        <!-- Modal for agreeing to TOS / PP -->
        <div id="wrmModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close2">&times;</span>
              <h1 id="wrmModalTitle">Please review our Terms of Service and Privacy Policy.</h1>
              <h2 id="wrmModalDescription">By clicking <b>Agree and Continue</b>, I hereby agree 
                  and consent to the <u class="tosAndPp" id="tos">Terms of Service</u> and the
                  <u class="tosAndPp" id="pp">Privacy Policy</u></h2>
            <div id="wrmButtonDiv">
              <a href="./letterType"><button id="wrmModalButton">Agree and Continue</button></a>
            </div>
            </div>  
        </div>
        
        <!-- ToS Modal -->
        <div id="tosModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close3">&times;</span>
              <h1 id="tosModalTitle">Terms of Service - Write My Rights</h1>
              <h2 id="tosModalDescription">We’re so pleased that you’ve found us. 
              </br></br>
                Please read the following Terms of Service (which also includes our Privacy Policy carefully – it 
                contains important information about our relationship and the services we provide.
            </br></br>
                The following are the terms and conditions that will govern Write my Rights (“Letters”, “us” or “we”) 
                providing letter writing services (the “Services”). By accessing Letters and using our website and Services 
                (the “Platform”), you are agreeing to be bound by these Terms of Service. 
                If you do not agree with any of these terms, you cannot use the Platform or receive Services.
            </br></br>
                <b>Scope of Services</b>
            </br></br>
                The Platform provides you with the Services, generally in the form of a letter(s) written and compiled by us 
                based on information provided by you. These letters are not a recommendation from a lawyer, nor legal advice. 
                They are designed to enable professional communication between yourself and a third party. 
                WE REITERATE THAT THE PLATFORM, OR ANY OF THE SERVICES PROVIDED WITHIN THE PLATFORM, DOES NOT CONSTITUE, 
                NOR DOES IT PROVIDE, LEGAL ADVICE. 
            </br></br>
                <b>Email</b>
            </br></br>
                E-mail will be our primary form of communication with you. You need a valid e-mail address in order to use the 
                Platform. 
            </br></br>
                <b>Accurate Information and Your Behaviour</b>
            </br></br>
                When using the Platform you agree to: 
            </br></br>
                (a) provide complete, accurate and current information, especially with regards to your e-mail address; 
            </br></br>
                (b) abide by all applicable local, provincial, federal laws and regulations; 
            </br></br>
                (c) not create a false identity or otherwise attempt to mislead Letters; 
            </br></br>
                (d) not transmit any spam or any material that contains viruses, worms, cancelbots, trojan horses, time bombs, 
                or any similar harmful programs; 
            </br></br>
                (e) not interfere with or disrupt networks connected to the Platform or violate the regulations, 
                policies or procedures of such networks; 
            </br></br>
                (f) not attempt to gain unauthorized access to the Platform, other accounts, computer systems or 
                networks connected to the Platform; and 
            </br></br>
                (g) not interfere with another person’s use of the Platform.
            </br></br>
                <b>Fees</b>
            </br></br>
                As consideration for the Services you have selected, you agree to pay Letters the applicable Service fees. 
                All fees payable hereunder are non-refundable unless provided otherwise.
            </br></br>
                <b>CONTENT OF SERVICES</b>
            </br></br>
                The contents of the Services are determined by the information you provide to us using the Platform. 
                We will not independently verify the truthfulness or accuracy of the information provided by you. 
            </br></br>
                <b>Grant of Licence</b>
            </br></br>
                The Platform and the Services provided thereunder contain proprietary, copyrighted information, 
                documentation, computer code, and other materials. As between yourself and Letters, we retain title 
                to and ownership of all rights in and to the Platform and the Services, including copyright and all 
                other intellectual property rights. 
            </br></br>
                In exchange for payment of the applicable Services fees, we grant you a royalty free, 
                non-exclusive, non-transferable licence to use the applicable Service, being the letters(s) 
                or other product that you paid for (the “License”). Each payment of the Service fee for a 
                given Service will result in a separate License granted to you.
            </br></br>
                <b>What you MAY do with the License:</b>
            </br></br>
                Access the Services provided;
                Printing one copy of the Services provided; or
                Distribute the Services only to the party to which such Services are addressed 
                (i.e., you will provide information for the addressee (the “Intended Recipient”). 
                The Intended Recipient is the only party that you are allowed to distribute the Services to.) 
            </br></br>
                <b>What you MAY NOT do with License:</b>
            </br></br>
                Distribute, or make available the Services or any portions of it to other parties, except for the Intended Recipient;
                Copy, paraphrase, reproduce, publish, sell, rent, loan, lease, sub-license, transfer, market, redistribute, 
                or otherwise part with the Services or portions of it, in electronic or print form; or
                Decompile, reverse engineer, or disassemble the Services, or create any derivative works based on the Services.
            </br></br>
                <b>Termination</b>
            </br></br>
                A Licence will terminate immediately without notice from us if you breach any term of the Licence. 
            </br></br>
                <b>Disclaimer of Warranty on Services</b>
            </br></br>
                The Platform is provided by us “as is” and is without representations, warranties or conditions of any kind. 
                You assume total responsibility to achieve whatever the intended results may be, and for the use of the 
                Services and Platform. WE DISCLAIM AND YOU WAIVE ALL REPRESENTATIONS, WARRANTIES OR CONDITIONS, EXPRESS OR 
                IMPLIED OR STATUTORY, INCLUDING THE IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, MERCHANTABLE QUALITY, 
                DURABILITY, TITLE, NON-INFRINGEMENT AND FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT REPRESENT OR WARRANT THAT 
                ACCESS TO THE PLATFORM WILL BE UNINTERRUPTED OR ERROR-FREE. WHILE WE ATTEMPT TO ENSURE THAT ONLINE ACCESS AND USE 
                OF THE PLATFORM IS SAFE, WE CANNOT AND DOES NOT REPRESENT OR WARRANT THAT OUR COMPUTER SYSTEMS OR SERVER(S) 
                ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
            </br></br>
                We do not represent or warrant that the information contained in the Platform or Services will meet your needs.
                We make no representations, warranties or conditions with respect to any data gathered or obtained by us from 
                any source (including yourself), or for present or future methodology used by us in producing or obtaining such data. 
            </br></br>
                <b>Not Legal Advice</b>
            </br></br>
                You acknowledge the Platform or the Services provided thereunder do not constitute legal or other professional 
                advice. You acknowledge that your use of the Platform comes with risks that may include, but are not limited to, 
                endangering your legal rights, if any, that you have with regards to any third party. As such, we encourage you to, 
                and you acknowledge that you have had the chance to, seek out independent legal advice prior to using the Platform. 
            </br></br>
                <b>Limitation of Liability</b>
            </br></br>
                YOU ACKNOWLEDGE AND AGREE THAT WE WILL NOT BE LIABLE FOR INDIRECT, CONSEQUENTIAL, OR SPECIAL DAMAGES THAT 
                RESULT FROM THE USE OF OR INABILITY TO USE THE PLATFORM. We are not responsible for any costs incurred as a 
                result of the use of or inability to use the Platform, including lost profits or revenue, loss of data, or failure 
                to realize expected outcomes. In no event shall our total liability to you for all damages, losses, and causes of 
                action (whether in contract, tort (including negligence), or otherwise) arising from or relating to the Platform 
                exceed direct damages in an amount equivalent to the amount paid by you for the Services.
            </br></br>
                <b>Indemnity</b>
            </br></br>
                You agree to indemnify and hold us harmless from and against any loss, cost, expense or damage arising out 
                of any claim, suit, action or judgment brought against us by any recipient of the Services 
                (whether yourself or a person that receives a letter derived from the Services whether sent by you or otherwise) 
                or any other person or entity arising from your use of the Platform or Services.
            </br></br>
                <b>Controlling Law and Severability</b>
            </br></br>
                This Terms of Service and any Licence granted hereunder will be governed by and construed in 
                accordance with the laws of the province of British Columbia and the federal laws of Canada applicable 
                therein without regard to conflicts of law. If for any reason a court of competent jurisdiction finds 
                any provision of this Terms of Service, or portion thereof, to be unenforceable, that provision will be 
                enforced to the maximum extent permissible so as to effect the intent of the parties, and the remainder 
                of this Terms of Service will remain in full force and effect.
            </br></br>
                <b>Complete Agreement</b>
            </br></br>
                This Terms of Service represents the entire agreement between you and us with respect to the Services and the 
                Platform, and supersedes all prior or contemporaneous understandings or agreements, written or oral, 
                regarding the Services and the Platform.
            </br></br>
                <b>Changes to Terms of Service</b>
            </br></br>
                We reserve the right to change this Terms of Service. Any changes will be effective upon posting 
                (electronic or otherwise) of a revised Terms of Service.
            </br></br>
                <b>Dated: January 29, 2021</b>
                </h2>
            </div>  
        </div>  

        <!-- PP Modal -->
        <div id="ppModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close4">&times;</span>
              <h1 id="ppModalTitle">Privacy Policy - Write My Rights</h1>
              <h2 id="ppModalDescription">This privacy policy (the “Privacy Policy”) describes how [Strongly Worded Letters]
                (“Letters”, “us”, or “we”) collects, uses and discloses information and data relating to your access and 
                use of the Platform and what rights you have with respect to such information and data. 
                The Privacy Policy forms part of our Terms of Service (the “Terms of Service”) and any capitalized terms 
                used but not defined in the Privacy Policy have the meaning ascribed in the Terms of Service.
            </br></br>
                The Privacy Policy does not apply to Third Party Services (defined below).
            </br></br>
                <b>IF YOU DO NOT AGREE WITH THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY, DO NOT ACCESS OR USE LETTERS. 
                BY ACCESSING AND USING LETTERS, YOU AGREE TO THIS PRIVACY POLICY.</b>
            </br></br>
                Letters reserves the right to update and change the Privacy Policy from time to time by posting updates and 
                changes to its website. If Letters makes material changes to the Privacy Policy, Letters will send you notice 
                of such changes by posting the revised policy on the Letters website, and where appropriate, by other means. 
                By continuing to use the Platform after such changes are posted, you agree to such changes.
            </br></br>
                <b>Information Collected</b>
            </br></br>
                Letters collects and receives information and data relating to you during your access and use of the Platform
                (the “User Information”). User Information includes without limitation identifying information 
                (such as name, address, telephone number, email address, billing information, and banking information).
            </br></br>
                Letters also generates and collects information and data that is based on and derived from your use of the Platform 
                (the “Other Information”). Other Information includes, without limitation, the following:
            </br></br>
                Services Metadata: When you interact with the Platform, metadata is generated that provides additional context 
                about the way you engage. 
            </br></br>
                Log Data: As with most websites and technology services delivered over the Internet, Letters servers automatically 
                collect and record information when Letters is accessed. This log data may include the Internet Protocol (IP) 
                address, the address of the web page visited before using the Platform, browser type and settings, the date and time 
                the Platform was used, information about browser configuration and plugins, language preferences and cookie 
                data. This Other Information is used to optimize the delivery of the Platform.
            </br></br>
                Device Information: Letters collects information about devices used to access the Platform, 
                including the type of device, what operating system is used, device settings, application IDs, unique 
                device identifiers and crash data. Whether Letters collects some or all of this Other Information often 
                depends on the type of device used and its settings. This Other Information is used to optimize the delivery 
                of the Platform.
            </br></br>
                Location Information: Letters collects information from Users to determine their approximate 
                location, such as their service address, IP address or any other location information from devices in 
                accordance with the consent process provided by the device.
            </br></br>
                Cookie Information:  Letters uses cookies and similar technologies through the Platform to help 
                collect Other Information. The Platform may also include cookies and similar tracking technologies of 
                third parties, which may collect Other Information about Users via the Platform and across other websites 
                and online services. If you do not wish to accept cookies, you have the option of blocking or disabling cookies. 
                Your computer provides you with the ability to clear all cookies that have been stored onto your hard drive, 
                should you wish to do so. However, please be aware that you may be unable to access certain parts of the 
                Platform if you block or disable Letters cookies.
            </br></br>
                Third Party Services: Letters may receive data about organizations, industries, website visitors, marketing 
                campaigns and other matters related to the Platform from parent corporation(s), affiliates and subsidiaries, 
                Letters partners or others service providers that Letters uses to make the Other Information more useful. 
                This data may be combined with Other Information Letters collects and might include aggregate level data.
            </br></br>
                Additional Information Provided to Letters:  Letters receives Other Information when submitted to the Platform 
                or if you participate in a focus group, contest, activity or event, apply for a job, request support, interact 
                with Letters social media accounts or otherwise communicate with Letters.
            </br></br>
                Generally, you are not under a statutory or contractual obligation to provide any information or data to Letters. 
                However, certain information and data is collected automatically when accessing and using the Platform, 
                and blocking such collections may result in Letters’ inability to provide you with access and use to any part 
                or whole of the Platform. If you do not consent to Letters’ collection of User Information and Other Information, 
                do not access or use the Platform.
            </br></br>
                <b>Information Use</b>
            </br></br>
                User Information and Other Information (collectively, “Service Data”) will be used by Letters in 
                furtherance of Letters’ legitimate interests in operating the Platform. More specifically, 
                Letters uses Service Data:
            </br></br>
                (a) To provide, update, maintain and protect the Platform. This includes use of Service Data to support 
                delivery of the Platform under the Terms of Service, prevent or address service errors, 
                security or technical issues, analyze and monitor usage, trends and other activities;
            </br></br>
                (b) As required by applicable law, legal process or regulation;
            </br></br>
                (c) To communicate with you by responding to your requests, comments and questions;
            </br></br>
                (d) To develop and provide additional features for the Platform;
            </br></br>
                (e) To send emails and other communications. Letters may send you service, technical and other administrative emails,
                messages and other types of communications. Letters may also contact you to inform you about changes 
                in the Platform and important service-related notices, such as security notices. These communications 
                are considered part of the Platform and you may not opt out of them. In addition, Letters sometimes sends 
                emails about new product features, promotional communications or other news about Letters. These are marketing 
                messages and you may opt out of them;
            </br></br>
                (f) To investigate and help prevent security issues and abuse; and
            </br></br>
                (g) To create and market aggregated and anonymized user data.
            </br></br>
                <b>INFORMATION STORAGE</b>
            </br></br>
                Letters primarily stores Service Data on servers located and operated within the United States. 
                If you reside or are located outside of the U.S., Letters may send and store your Service Data to the U.S. 
                in order to provide and operate the Platform. By accepting the terms of this Privacy Policy, you acknowledge 
                the transfer to and processing of your personal information on servers located in the U.S. and other countries.
            </br></br>
                <b>INFORMATION RETENTION</b>
            </br></br>
                In general, Letters keeps your Service Data throughout your relationship with Letters. This means 
                Letters will keep your Service Data after you have paid for Services, even in situations of a one-off Service request.
            </br></br>
                Once you terminate your relationship with Letters, Letters will generally continue to store 
                archived copies of your Service Data for legitimate business purposes and to comply with applicable law, 
                except when Letters receives a valid erasure request.
            </br></br>
                If Service Data is aggregated or de-identified so it is no longer reasonably associated with an identified or 
                identifiable natural person, Letters may indefinitely retain and use it for any business purpose.
            </br></br>
                <b>INFORMATION SHARING</b>
            </br></br>
                This section describes how Letters may share and disclose Service Data.
            </br></br>
                <b>5.1 Third Party Service Providers and Partners.</b>
            </br></br>
                Letters may engage third party companies or individuals as service providers or business partners 
                to process Service Data and support the Letters business. These third parties may, for example, 
                provide virtual computing and storage services.
            </br></br>
                <b>5.2 Third Party Services.</b>
            </br></br>
                You may access third party software, applications, products, services or website links 
                through the Platform (the “Third Party Services”). When enabled, Letters may share Service Data with 
                Third Party Services. Third Party Services are not owned or controlled by Letters and third parties that 
                have been granted access to Service Data may have their own policies and practices for its collection and use. 
                Please check the privacy settings and notices in these Third Party Services or contact the provider for 
                any questions. Letters disclaims any liability arising in connection with Third Party Services.
            </br></br>
                <b>5.3 Corporate Affiliates.</b>
            </br></br>
                Letters may share Service Data with its corporate affiliates, parents and/or subsidiaries.
            </br></br>
                <b>5.4 During a Change to Letters’ Business.</b>
            </br></br>
                If Letters engages in a merger, acquisition, bankruptcy, dissolution, reorganization, sale of some 
                or all of Letters’ assets or stock, financing, public offering of securities, acquisition of all or 
                a portion of the Letters business, a similar transaction or proceeding, or steps in contemplation of
                 such activities (e.g. due diligence), some or all Service Data may be shared or transferred with such 
                 participating parties, subject to standard confidentiality arrangements.
                </br></br>
                <b>5.5 Aggregated or De-identified Data.</b>
            </br></br>
                Letters may disclose or use aggregated or de-identified Service Data indefinitely and for any purpose. 
                For example, Letters may share aggregated or de-identified Service Data with prospects or partners for 
                business or research purposes, such as telling a prospective Letters customer the average amount of time 
                spent within the Platform.
            </br></br>
                <b>5.6 To Comply with Laws.</b>
            </br></br>
                If Letters receives a request for information from a governing or regulatory authority, Letters 
                may disclose Service Data if Letters reasonably believes disclosure is in accordance with or required by 
                any applicable law, regulation or legal process. Letters is released of any liability associated with any 
                such disclosures made in good faith.
            </br></br>
                <b>5.7 To Enforce Rights, Prevent Fraud, And For Safety.</b>
            </br></br>
                Letters may disclose or use Service Data to protect and defend the rights, property or safety of Letters 
                or third parties, including enforcing contracts or policies, or in connection with investigating and preventing 
                fraud or security issues.
            </br></br>
                <b>5.8 With Consent.</b>
            </br></br>
                Letters may share Service Data with third parties when Letters has your consent to do so, which may 
                be obtained through the Platform.
            </br></br>
                <b>INFORMATION CONTROL</b>
            </br></br>
                Letters understands that you have legal rights over your Service Data, and takes reasonable steps 
                in accordance with applicable laws to allow you to access, correct, amend, delete, port, or limit 
                the use of your Service Data. 
            </br></br>
                <b>FEEDBACK</b>
            </br></br>
                Any suggestions or comments for improving or modifying the Platform that are included in your communications 
                with Letters (“Feedback”) will be deemed to be non-confidential and non-proprietary to you, and you agree that: 
            </br></br>
                (a) Letters is therefore not subject to any confidentiality obligations with respect to the Feedback; 
            </br></br>
                (b) the Feedback is not confidential or proprietary information of any third party and you have all of the necessary 
                rights to disclose the Feedback to Letters; 
            </br></br>
                (c) Letters may irrevocably freely use, reproduce, publicize and exploit the Feedback; and 
            </br></br>
                (d) you are not, nor is any other party, entitled to receive any compensation or reimbursement of any 
                kind from Letters in relation to the Feedback.
            </br></br>
                <b>SECURITY</b>
            </br></br>
                Letters works hard to protect the Service Data from loss, misuse, and unauthorized access or disclosure. 
                These steps take into account the sensitivity of the Service Data and the current state of technology. 
                Letters follows industry standards on information security management to safeguard sensitive information, 
                such as financial information, intellectual property, employee details and any other personal information 
                entrusted to Letters. Letters information security systems apply to people, processes and information technology 
                systems on a risk management basis.
            </br></br>
                No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, 
                Letters cannot guarantee the absolute security of Service Data, and makes no warranties to you in connection 
                with same.
            </br></br>
                <b>NOTE TO PARENTS AND GUARDIANS</b>
            </br></br>
                Letters does not knowingly collect personal information from children under 13 years of age or any 
                person under the age of majority in any jurisdiction. The Platform is not directed to children under the 
                age of 13 and children under 13 are not permitted to use the Platform. If Letters becomes aware that Letters 
                has unknowingly collected personal information from a child under the age of 13, Letters will delete 
                or disable such information. If you are a parent or guardian of a child under the age of 13, and you 
                believe that your child has provided us with personal information, please contact us immediately.
            </br></br>
                <b>CONTACT</b>
            </br></br>
                You may contact Letters if you have any questions about the Privacy Policy or Letters’ privacy practices, 
                or if you are seeking to exercise any of your rights relating thereto. To communicate with Letters’ Data 
                Protection Officer, please email david@practicewrks.com.
                </h2>
            </div>  
        </div>


    </body>

    <script>

        function unfocusButtons() {
            buttons = document.getElementsByClassName("homeButtons")
            for (var i=0; i < buttons.length; i++) {
                buttons[i].blur()
            }

            faqButtons = document.getElementsByClassName("faqButtons")
            for (var i=0; i < faqButtons.length; i++) {
                console.log(faqButtons[i])
                faqButtons[i].blur()
            }
        }

        function faqScrollFunction() {
            var faqScroll = document.getElementById("faqScroll");

            faqScroll.scrollIntoView({
            behavior: "smooth",
            block: "start",
            inline: "nearest"
            });
            unfocusButtons()
        } 
        // Get body to stop scrolling later
        var body = document.body;

        // Question Modal Section
        // Get the modal
        var questionModal = document.getElementById("questionsModal");

        // Get the button that opens the modal
        var questionBtn = document.getElementById("faqQuestionsButton");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on the button, open the modal
        questionBtn.onclick= function() {
            questionModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons();
        }

        // TOS/PP Agreement Modal Section
        // Get the modal
        var wrmModal = document.getElementById("wrmModal");

        // Get the buttons that opens the modal
        var wrmBtn1 = document.getElementById("wrmButton1");
        var wrmBtn2 = document.getElementById("wrmButton2");
        var wrmBtn3 = document.getElementById("wrmButton3");
        var wrmBtn4 = document.getElementById("wrmButton4");
        var wrmBtn5 = document.getElementById("wrmButton5");

         // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close2")[0];

        // When the user clicks on the button, open the modal
        wrmBtn1.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn2.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn3.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn4.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn5.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        // TOS Modal Section
        // Get the modal
        var tosModal = document.getElementById("tosModal");

        // Get the buttons that opens the modal
        var tosBtn1 = document.getElementById("tos");

         // Get the <span> element that closes the modal
        var span3 = document.getElementsByClassName("close3")[0];

        // When the user clicks on the button, open the modal
        tosBtn1.onclick = function() {
            tosModal.style.display = "block";
            body.style.overflow = "hidden";
            wrmModal.style.display = "none";
            unfocusButtons();
        }

        // PP Modal Section
        // Get the modal
        var ppModal = document.getElementById("ppModal");

        // Get the buttons that opens the modal
        var ppBtn1 = document.getElementById("pp");

         // Get the <span> element that closes the modal
        var span4 = document.getElementsByClassName("close4")[0];

        // When the user clicks on the button, open the modal
        ppBtn1.onclick = function() {
            ppModal.style.display = "block";
            body.style.overflow = "hidden";
            wrmModal.style.display = "none";
            unfocusButtons();
        }

        // Modals Close Section
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            wrmModal.style.display = "none";
            questionModal.style.display = "none";
            body.style.overflow = "auto";
        }

        span2.onclick = function() {
            wrmModal.style.display = "none";
            questionModal.style.display = "none";
            body.style.overflow = "auto";
        }

        span3.onclick = function() {
            wrmModal.style.display = "block";
            questionModal.style.display = "none";
            tosModal.style.display = "none"
        }

        span4.onclick = function() {
            wrmModal.style.display = "block";
            questionModal.style.display = "none";
            ppModal.style.display = "none"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == questionModal) {
            questionModal.style.display = "none";
            body.style.overflow = "auto";
            }
            if (event.target == wrmModal) {
                wrmModal.style.display = "none";
                body.style.overflow = "auto";
            }
            if (event.target == tosModal) {
                tosModal.style.display = "none";
                wrmModal.style.display = "block";
            }
            if (event.target == ppModal) {
                ppModal.style.display = "none";
                wrmModal.style.display = "block";
            }
        }
    </script>
</html>