<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
        <!-- Montserrat Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!-- Philosopher Font -->
        <style>
            @font-face {
            font-family: Philosopher;
            src: url('./static/fonts/Philosopher-Regular.ttf');
          }
        </style>
        <title></title>
        <meta charset = 'UTF8'>
        <script></script>
    </head>

    <body>
        <a href="./index"><img id="homeNavbarPicture" src="{{url_for('static', filename='images/Write my Rights.PNG')}}"/></a>

        <!-- 
            Index Section 
        -->
        <h1 id="homeTitle">WRITE MY RIGHTS</h1> </br></br>
        <h2 id="homeDescription">Do you have a simple legal problem, but don’t want to hire a lawyer? 
            Write My Rights helps you prepare a professionally written letter that you can send to the other side 
            to help you get what you deserve. </br></br>

            It’s fast, free, easy. Let’s get started.
            </h2>
    </br>
        <div id="homeButtonsDiv">
            <button class="homeButtons" id="wrmButton1">WRITE MY RIGHTS</button>
            <button class="homeButtons" id="scroll" onclick="faqScrollFunction()">TELL ME MORE</button>
        </div>

        <!--
             FAQ Section 
        -->
    <div id="faqTopDivs">
        <div class="faqDiv" id="faqScroll">
            <h1 class="faqHeader">Who is behind these letters?</h1>
            <h2 class="faqDescription">A small team of start-up lawyers. We’ve been helping our clients, 
                friends and families with legal issues for years,
                 and want to expand this service to the general public.</br></br></br></br></br></br>
            </h2>
            <button class="faqButtons" id="wrmButton2">LET'S GET WRITING</button>
        </div>

        <div class="faqSecondDiv">
            <h1 class="faqHeader">Why do I need this?</h1>
            <h2 class="faqDescription">Everyday legal problems — for workers, neighbours and consumers — often aren’t “worth” 
                enough to hire a lawyer. </br></br>
                But instead of paying up to $300 per hour for legal advice, you’ll get a letter for a fraction of that cost.
                That’s because this isn’t specific legal advice tailored to your situation.
                It’s a way for you to vocalize what you want — professionally, and persuasively.  </h2>
            </br>
            <button class="faqButtons" id="wrmButton3">HAND ME A PEN, PLEASE</button>
        </div>
    </div>

    <div id="faqBottomDivs">
        <div class="faqDiv" id="faqBottomDiv1">
            <h1 class="faqHeader">How does this work?</h1>
            <h2 class="faqDescription">You complete a short survey. You’ll then get an email from us, letting you know when the 
                letter will be ready. We then “ghostwrite” a letter and email it to you, ready for you to review and send to 
                your (ex-)employer. </br></br>

                <b>Many people in this situation do nothing. We’re helping you to take the first step.</b>  </h2>
            </br>
            <button class="faqButtons" id="wrmButton4">WRITE MY RIGHTS</button>
        </div>

        <div class="faqSecondDiv" id="faqBottomDiv2">
            <h1 class="faqHeader">What's this cost?</h1>
            <h2 class="faqDescription">Think of this as <b>a small investment in your rights as a worker. </b>
                Once you complete the form below, we’ll be in touch about pricing. You won’t be charged at this time. </br></br>

                Once the letter is ready, payment is processed securely through PayPal.  </h2>
            </br></br>
            <button class="faqButtons" id="wrmButton5">CAN WE GET STARTED?</button>
        </div>
    </div>
    
        <div id="faqThirdDiv">
            <button class="faqButtons" id="faqQuestionsButton">GOT ANY QUESTIONS?</button>
        </div>
    

        <!-- Questions Modal -->
        <div id="questionsModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              <div id="questionsModalImageDiv">
                <img src="./static/images/Typewriter.jpg" id="questionsModalImage"/>
              </div>
              <h2 id="questionsModalDescription">Have comments, questions, or feedback to share? We'd love to hear from you. 
                Send us an email and we'll get back to you soon: 
                <p class="tosAndPp"><a href="mailto:hello@writemyrights.com?subject=Questions/Feedback">hello@writemyrights.com</a></p></h2>
            </div>    
        </div>  


        <!-- Modal for agreeing to TOS / PP -->
        <div id="wrmModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close2">&times;</span>
              <h1 id="wrmModalTitle">Please review our Terms of Service and Privacy Policy.</h1>
              <h2 id="wrmModalDescription">By clicking <b>Agree and Continue</b>, I hereby agree 
                  and consent to the <u class="tosAndPp" id="tos">Terms of Service</u> and the
                  <u class="tosAndPp" id="pp">Privacy Policy</u></h2>
            <div id="wrmButtonDiv">
              <a href="./letterType"><button id="wrmModalButton">Agree and Continue</button></a>
            </div>
            </div>  
        </div>
        
        <!-- ToS Modal -->
        <div id="tosModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close3">&times;</span>
              <h1 id="tosModalTitle">Terms of Service - Write My Rights</h1>
              <iframe src="termsOfService"></iframe>
            </div>  
        </div>  

        <!-- PP Modal -->
        <div id="ppModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
              <span class="close4">&times;</span>
              <h1 id="ppModalTitle">Privacy Policy - Write My Rights</h1>
              <iframe src="privacyPolicy"></iframe>
              
            </div>  
        </div>


    </body>

    <script>

        function unfocusButtons() {
            buttons = document.getElementsByClassName("homeButtons")
            for (var i=0; i < buttons.length; i++) {
                buttons[i].blur()
            }

            faqButtons = document.getElementsByClassName("faqButtons")
            for (var i=0; i < faqButtons.length; i++) {
                console.log(faqButtons[i])
                faqButtons[i].blur()
            }
        }

        function faqScrollFunction() {
            var faqScroll = document.getElementById("faqScroll");

            faqScroll.scrollIntoView({
            behavior: "smooth",
            block: "start",
            inline: "nearest"
            });
            unfocusButtons()
        } 
        // Get body to stop scrolling later
        var body = document.body;

        // Question Modal Section
        // Get the modal
        var questionModal = document.getElementById("questionsModal");

        // Get the button that opens the modal
        var questionBtn = document.getElementById("faqQuestionsButton");

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];
        
        // When the user clicks on the button, open the modal
        questionBtn.onclick= function() {
            questionModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons();
        }

        // TOS/PP Agreement Modal Section
        // Get the modal
        var wrmModal = document.getElementById("wrmModal");

        // Get the buttons that opens the modal
        var wrmBtn1 = document.getElementById("wrmButton1");
        var wrmBtn2 = document.getElementById("wrmButton2");
        var wrmBtn3 = document.getElementById("wrmButton3");
        var wrmBtn4 = document.getElementById("wrmButton4");
        var wrmBtn5 = document.getElementById("wrmButton5");

         // Get the <span> element that closes the modal
        var span2 = document.getElementsByClassName("close2")[0];

        // When the user clicks on the button, open the modal
        wrmBtn1.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn2.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn3.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn4.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        wrmBtn5.onclick = function() {
            wrmModal.style.display = "block";
            body.style.overflow = "hidden";
            unfocusButtons()
        }

        // TOS Modal Section
        // Get the modal
        var tosModal = document.getElementById("tosModal");

        // Get the buttons that opens the modal
        var tosBtn1 = document.getElementById("tos");

         // Get the <span> element that closes the modal
        var span3 = document.getElementsByClassName("close3")[0];

        // When the user clicks on the button, open the modal
        tosBtn1.onclick = function() {
            tosModal.style.display = "block";
            body.style.overflow = "hidden";
            wrmModal.style.display = "none";
            unfocusButtons();
        }

        // PP Modal Section
        // Get the modal
        var ppModal = document.getElementById("ppModal");

        // Get the buttons that opens the modal
        var ppBtn1 = document.getElementById("pp");

         // Get the <span> element that closes the modal
        var span4 = document.getElementsByClassName("close4")[0];

        // When the user clicks on the button, open the modal
        ppBtn1.onclick = function() {
            ppModal.style.display = "block";
            body.style.overflow = "hidden";
            wrmModal.style.display = "none";
            unfocusButtons();
        }

        // Modals Close Section
        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            wrmModal.style.display = "none";
            questionModal.style.display = "none";
            body.style.overflow = "auto";
        }

        span2.onclick = function() {
            wrmModal.style.display = "none";
            questionModal.style.display = "none";
            body.style.overflow = "auto";
        }

        span3.onclick = function() {
            wrmModal.style.display = "block";
            questionModal.style.display = "none";
            tosModal.style.display = "none"
        }

        span4.onclick = function() {
            wrmModal.style.display = "block";
            questionModal.style.display = "none";
            ppModal.style.display = "none"
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == questionModal) {
            questionModal.style.display = "none";
            body.style.overflow = "auto";
            }
            if (event.target == wrmModal) {
                wrmModal.style.display = "none";
                body.style.overflow = "auto";
            }
            if (event.target == tosModal) {
                tosModal.style.display = "none";
                wrmModal.style.display = "block";
            }
            if (event.target == ppModal) {
                ppModal.style.display = "none";
                wrmModal.style.display = "block";
            }
        }
    </script>
    <!-- Cookie Consent by https://www.TermsFeed.com -->
    <script type="text/javascript" src="//www.termsfeed.com/public/cookie-consent/3.1.0/cookie-consent.js"></script>
    <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
    cookieconsent.run({"notice_banner_type":"simple","consent_type":"express","palette":"light","language":"en","website_name":"Write my Rights"});
    });
    </script>

    <noscript>Cookie Consent by <a href="https://www.TermsFeed.com/" rel="nofollow noopener">TermsFeed</a></noscript>
    <!-- End Cookie Consent -->

</html>