<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/letterType.css') }}">
        <!-- Montserrat Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!-- Philosopher Font -->
        <style>
            @font-face {
            font-family: Philosopher;
            src: url('./fonts/Philosopher-Regular.ttf'); 
            }
        </style>
        <title></title>
        <meta charset = 'UTF8'>
        <script></script>
    </head>

    <body>
        <a href="./index"><img id="wrmNavbarPicture" src="{{url_for('static', filename='images/Write my Rights.PNG')}}"/></a>
         <div id="wrmNavbarAlign">
            <ul id="wrmNavbar">

            </ul>
        </div>

        <div id="wrmDescriptionAlign">
            <h2 id="wrmDescription">Ready for us to Write Your Rights? Select your type of letter.</b>
            </br></br>
            <div class="float_center">
                <ul class="child" id="allOptions">
                    <li>
                    <div id="employee">
                    <a href="./questions/employment/question1"><img src="{{url_for('static', filename='images/employees.jpg')}}" width="50" height="50"/></a>
                    <p style="font-size:11px; color:black">Employment</p>
                    </div>
                    </li>
                    <li>
                    <div id="employee">
                        <a href="./cellphone"><img src="{{url_for('static', filename='images/cellphone.jpg')}}" width="50" height="50"/></a>
                        <p style="font-size:11px; color:black">Cellphone</p>
                    </div>
                    </li>
                </ul>
                <div class="clear"></div>
            </div>
            </h2>
            <h3 id="letterBottomMessage">There is currently only 1 letter template, but more are on the way.</h3>
        </div>
    </br></br>
        <div id="wrmButtonsDiv">
            <a href="./index"><button class="buttons">Back to Home</button></a>


        </div>
        <script src = "{{url_for('static', filename='deleteCookies.js')}}"></script>
    </body>
</html>
