<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/letterType.css') }}">
        <!-- Montserrat Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://js.stripe.com/v3/"></script>
        <script src="{{ url_for('static', filename='main.js') }}"></script>
        <script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
        <!-- Philosopher Font -->
        <style>
            @font-face {
            font-family: Philosopher;
            src: url('./fonts/Philosopher-Regular.ttf');
          }
        </style>
        <title></title>
        <meta charset = 'UTF8'>
        <script></script>
    </head>

    <body>
        <a href="./index"><img id="wrmNavbarPicture" src="{{url_for('static', filename='images/Write my Rights.PNG')}}"/></a>
         <div id="wrmNavbarAlign">
            <ul id="wrmNavbar">

            </ul>
        </div>

        <div id="wrmDescriptionAlign">
            <h2 id="wrmDescription">Want an upgraded letter?</b>
            
            <div class="float_center">
                <img class="paymentTableImage"src="{{url_for('static', filename='images/PaymentTable.PNG')}}"/>
            </div>
            </h2>
        </div>
    </br></br>
        <div id="paymentTableButtonsDiv">
            <a href="/questions/getAnswers"><button class="buttons2">Back</button></a>
            <a href="/questions/fetchLetter"><button class="buttons2">No</button></a>
            <a href="/paymentOption"><button class="buttons2">Yes</button></a>
        </div>
    </body>
</html>
