<!-- Privacy Policy, part of index.html -->
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/index.css') }}">
        <!-- Montserrat Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!-- Philosopher Font -->
        <style>
            @font-face {
            font-family: Philosopher;
            src: url('./static/fonts/Philosopher-Regular.ttf');
          }
        </style>
        <title></title>
        <meta charset = 'UTF8'>
        <script></script>
    </head>

    <body>
    <h2 id="ppModalDescription">This privacy policy (the “Privacy Policy”) describes how [Strongly Worded Letters]
      (“Letters”, “us”, or “we”) collects, uses and discloses information and data relating to your access and 
      use of the Platform and what rights you have with respect to such information and data. 
      The Privacy Policy forms part of our Terms of Service (the “Terms of Service”) and any capitalized terms 
      used but not defined in the Privacy Policy have the meaning ascribed in the Terms of Service.
  </br></br>
      The Privacy Policy does not apply to Third Party Services (defined below).
  </br></br>
      <b>IF YOU DO NOT AGREE WITH THE TERMS AND CONDITIONS OF THIS PRIVACY POLICY, DO NOT ACCESS OR USE LETTERS. 
      BY ACCESSING AND USING LETTERS, YOU AGREE TO THIS PRIVACY POLICY.</b>
  </br></br>
      Letters reserves the right to update and change the Privacy Policy from time to time by posting updates and 
      changes to its website. If Letters makes material changes to the Privacy Policy, Letters will send you notice 
      of such changes by posting the revised policy on the Letters website, and where appropriate, by other means. 
      By continuing to use the Platform after such changes are posted, you agree to such changes.
  </br></br>
      <b>Information Collected</b>
  </br></br>
      Letters collects and receives information and data relating to you during your access and use of the Platform
      (the “User Information”). User Information includes without limitation identifying information 
      (such as name, address, telephone number, email address, billing information, and banking information).
  </br></br>
      Letters also generates and collects information and data that is based on and derived from your use of the Platform 
      (the “Other Information”). Other Information includes, without limitation, the following:
  </br></br>
      Services Metadata: When you interact with the Platform, metadata is generated that provides additional context 
      about the way you engage. 
  </br></br>
      Log Data: As with most websites and technology services delivered over the Internet, Letters servers automatically 
      collect and record information when Letters is accessed. This log data may include the Internet Protocol (IP) 
      address, the address of the web page visited before using the Platform, browser type and settings, the date and time 
      the Platform was used, information about browser configuration and plugins, language preferences and cookie 
      data. This Other Information is used to optimize the delivery of the Platform.
  </br></br>
      Device Information: Letters collects information about devices used to access the Platform, 
      including the type of device, what operating system is used, device settings, application IDs, unique 
      device identifiers and crash data. Whether Letters collects some or all of this Other Information often 
      depends on the type of device used and its settings. This Other Information is used to optimize the delivery 
      of the Platform.
  </br></br>
      Location Information: Letters collects information from Users to determine their approximate 
      location, such as their service address, IP address or any other location information from devices in 
      accordance with the consent process provided by the device.
  </br></br>
      Cookie Information:  Letters uses cookies and similar technologies through the Platform to help 
      collect Other Information. The Platform may also include cookies and similar tracking technologies of 
      third parties, which may collect Other Information about Users via the Platform and across other websites 
      and online services. If you do not wish to accept cookies, you have the option of blocking or disabling cookies. 
      Your computer provides you with the ability to clear all cookies that have been stored onto your hard drive, 
      should you wish to do so. However, please be aware that you may be unable to access certain parts of the 
      Platform if you block or disable Letters cookies.
  </br></br>
      Third Party Services: Letters may receive data about organizations, industries, website visitors, marketing 
      campaigns and other matters related to the Platform from parent corporation(s), affiliates and subsidiaries, 
      Letters partners or others service providers that Letters uses to make the Other Information more useful. 
      This data may be combined with Other Information Letters collects and might include aggregate level data.
  </br></br>
      Additional Information Provided to Letters:  Letters receives Other Information when submitted to the Platform 
      or if you participate in a focus group, contest, activity or event, apply for a job, request support, interact 
      with Letters social media accounts or otherwise communicate with Letters.
  </br></br>
      Generally, you are not under a statutory or contractual obligation to provide any information or data to Letters. 
      However, certain information and data is collected automatically when accessing and using the Platform, 
      and blocking such collections may result in Letters’ inability to provide you with access and use to any part 
      or whole of the Platform. If you do not consent to Letters’ collection of User Information and Other Information, 
      do not access or use the Platform.
  </br></br>
      <b>Information Use</b>
  </br></br>
      User Information and Other Information (collectively, “Service Data”) will be used by Letters in 
      furtherance of Letters’ legitimate interests in operating the Platform. More specifically, 
      Letters uses Service Data:
  </br></br>
      (a) To provide, update, maintain and protect the Platform. This includes use of Service Data to support 
      delivery of the Platform under the Terms of Service, prevent or address service errors, 
      security or technical issues, analyze and monitor usage, trends and other activities;
  </br></br>
      (b) As required by applicable law, legal process or regulation;
  </br></br>
      (c) To communicate with you by responding to your requests, comments and questions;
  </br></br>
      (d) To develop and provide additional features for the Platform;
  </br></br>
      (e) To send emails and other communications. Letters may send you service, technical and other administrative emails,
      messages and other types of communications. Letters may also contact you to inform you about changes 
      in the Platform and important service-related notices, such as security notices. These communications 
      are considered part of the Platform and you may not opt out of them. In addition, Letters sometimes sends 
      emails about new product features, promotional communications or other news about Letters. These are marketing 
      messages and you may opt out of them;
  </br></br>
      (f) To investigate and help prevent security issues and abuse; and
  </br></br>
      (g) To create and market aggregated and anonymized user data.
  </br></br>
      <b>INFORMATION STORAGE</b>
  </br></br>
      Letters primarily stores Service Data on servers located and operated within the United States. 
      If you reside or are located outside of the U.S., Letters may send and store your Service Data to the U.S. 
      in order to provide and operate the Platform. By accepting the terms of this Privacy Policy, you acknowledge 
      the transfer to and processing of your personal information on servers located in the U.S. and other countries.
  </br></br>
      <b>INFORMATION RETENTION</b>
  </br></br>
      In general, Letters keeps your Service Data throughout your relationship with Letters. This means 
      Letters will keep your Service Data after you have paid for Services, even in situations of a one-off Service request.
  </br></br>
      Once you terminate your relationship with Letters, Letters will generally continue to store 
      archived copies of your Service Data for legitimate business purposes and to comply with applicable law, 
      except when Letters receives a valid erasure request.
  </br></br>
      If Service Data is aggregated or de-identified so it is no longer reasonably associated with an identified or 
      identifiable natural person, Letters may indefinitely retain and use it for any business purpose.
  </br></br>
      <b>INFORMATION SHARING</b>
  </br></br>
      This section describes how Letters may share and disclose Service Data.
  </br></br>
      <b>5.1 Third Party Service Providers and Partners.</b>
  </br></br>
      Letters may engage third party companies or individuals as service providers or business partners 
      to process Service Data and support the Letters business. These third parties may, for example, 
      provide virtual computing and storage services.
  </br></br>
      <b>5.2 Third Party Services.</b>
  </br></br>
      You may access third party software, applications, products, services or website links 
      through the Platform (the “Third Party Services”). When enabled, Letters may share Service Data with 
      Third Party Services. Third Party Services are not owned or controlled by Letters and third parties that 
      have been granted access to Service Data may have their own policies and practices for its collection and use. 
      Please check the privacy settings and notices in these Third Party Services or contact the provider for 
      any questions. Letters disclaims any liability arising in connection with Third Party Services.
  </br></br>
      <b>5.3 Corporate Affiliates.</b>
  </br></br>
      Letters may share Service Data with its corporate affiliates, parents and/or subsidiaries.
  </br></br>
      <b>5.4 During a Change to Letters’ Business.</b>
  </br></br>
      If Letters engages in a merger, acquisition, bankruptcy, dissolution, reorganization, sale of some 
      or all of Letters’ assets or stock, financing, public offering of securities, acquisition of all or 
      a portion of the Letters business, a similar transaction or proceeding, or steps in contemplation of
       such activities (e.g. due diligence), some or all Service Data may be shared or transferred with such 
       participating parties, subject to standard confidentiality arrangements.
      </br></br>
      <b>5.5 Aggregated or De-identified Data.</b>
  </br></br>
      Letters may disclose or use aggregated or de-identified Service Data indefinitely and for any purpose. 
      For example, Letters may share aggregated or de-identified Service Data with prospects or partners for 
      business or research purposes, such as telling a prospective Letters customer the average amount of time 
      spent within the Platform.
  </br></br>
      <b>5.6 To Comply with Laws.</b>
  </br></br>
      If Letters receives a request for information from a governing or regulatory authority, Letters 
      may disclose Service Data if Letters reasonably believes disclosure is in accordance with or required by 
      any applicable law, regulation or legal process. Letters is released of any liability associated with any 
      such disclosures made in good faith.
  </br></br>
      <b>5.7 To Enforce Rights, Prevent Fraud, And For Safety.</b>
  </br></br>
      Letters may disclose or use Service Data to protect and defend the rights, property or safety of Letters 
      or third parties, including enforcing contracts or policies, or in connection with investigating and preventing 
      fraud or security issues.
  </br></br>
      <b>5.8 With Consent.</b>
  </br></br>
      Letters may share Service Data with third parties when Letters has your consent to do so, which may 
      be obtained through the Platform.
  </br></br>
      <b>INFORMATION CONTROL</b>
  </br></br>
      Letters understands that you have legal rights over your Service Data, and takes reasonable steps 
      in accordance with applicable laws to allow you to access, correct, amend, delete, port, or limit 
      the use of your Service Data. 
  </br></br>
      <b>FEEDBACK</b>
  </br></br>
      Any suggestions or comments for improving or modifying the Platform that are included in your communications 
      with Letters (“Feedback”) will be deemed to be non-confidential and non-proprietary to you, and you agree that: 
  </br></br>
      (a) Letters is therefore not subject to any confidentiality obligations with respect to the Feedback; 
  </br></br>
      (b) the Feedback is not confidential or proprietary information of any third party and you have all of the necessary 
      rights to disclose the Feedback to Letters; 
  </br></br>
      (c) Letters may irrevocably freely use, reproduce, publicize and exploit the Feedback; and 
  </br></br>
      (d) you are not, nor is any other party, entitled to receive any compensation or reimbursement of any 
      kind from Letters in relation to the Feedback.
  </br></br>
      <b>SECURITY</b>
  </br></br>
      Letters works hard to protect the Service Data from loss, misuse, and unauthorized access or disclosure. 
      These steps take into account the sensitivity of the Service Data and the current state of technology. 
      Letters follows industry standards on information security management to safeguard sensitive information, 
      such as financial information, intellectual property, employee details and any other personal information 
      entrusted to Letters. Letters information security systems apply to people, processes and information technology 
      systems on a risk management basis.
  </br></br>
      No method of transmission over the Internet, or method of electronic storage, is 100% secure. Therefore, 
      Letters cannot guarantee the absolute security of Service Data, and makes no warranties to you in connection 
      with same.
  </br></br>
      <b>NOTE TO PARENTS AND GUARDIANS</b>
  </br></br>
      Letters does not knowingly collect personal information from children under 13 years of age or any 
      person under the age of majority in any jurisdiction. The Platform is not directed to children under the 
      age of 13 and children under 13 are not permitted to use the Platform. If Letters becomes aware that Letters 
      has unknowingly collected personal information from a child under the age of 13, Letters will delete 
      or disable such information. If you are a parent or guardian of a child under the age of 13, and you 
      believe that your child has provided us with personal information, please contact us immediately.
  </br></br>
      <b>CONTACT</b>
  </br></br>
      You may contact Letters if you have any questions about the Privacy Policy or Letters’ privacy practices, 
      or if you are seeking to exercise any of your rights relating thereto. To communicate with Letters’ Data 
      Protection Officer, please email david@practicewrks.com.
      </h2>
  </body>
</html>