<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/questions.css') }}">
    <title>Write My Rights</title>
    <!-- Montserrat Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    
    <a href="/index"><img class="greylogo" src="{{ url_for('static',filename='images/Write my Rights.PNG') }}"/></a>
    
    <div class="progressDiv">
    <svg class="progressBarOne">
        <rect width="1000px" height="10px" style="fill: #dddddd;" rx="8" ry="8" />
        <rect width="59px" height="10px" style="fill: #303852;" rx="8" ry="8" />
    </svg>
    </div>

    <form action="{{url_for('answer')}}" method="post">
    <!-- <div class="questionDiv">
        <p class="questionText">What is your full name?</p>
        <input type="text" class="questionInput" placeholder="ex. John Smith" name="answer" required maxlength="150">
    </div> -->
    
    <div id="questionsContainer" class="questionDiv"></div>

    <br>

    <div class="buttonDiv">
        <img id="backArrow" src="{{url_for('static', filename='images/black back arrow.png')}}" alt="Back" class="frontArrow" />
        <!-- <a href="/letterType"><img src="{{url_for('static', filename='images/black back arrow.png')}}" alt="Back" class="backArrow"/></a> -->
        <img id="frontArrow" src="{{url_for('static', filename='images/black arrow.png')}}" alt="Next" class="frontArrow" />
        <!-- <input type="image" name="submit" src="{{url_for('static', filename='images/black arrow.png')}}" alt="Next" class="frontArrow"/> -->
    </div>
    </form>

    <script>
        let questionIndex = 0;

        // reading the json file
        var data = JSON.parse('{{ data | tojson | safe}}');
        console.log(data);
        let count = 0;
        let questionsContainer = document.getElementById('questionsContainer');
        for (let each in data.document.content){
            let question = document.createElement("div");
            question.className = "questionDiv";
            question.style.display = "none";
            question.id = "question" + String(count);
            
            let questionHeader = document.createElement("P");
            let questionHeaderContent = document.createTextNode(each + ")  " + data.document.content[each].label);
            questionHeader.className = "questionText";   // Class for styling
            questionHeader.appendChild(questionHeaderContent);
            question.appendChild(questionHeader);

            if (data.document.content[each].input.type === "select"){  // displaying questions that are type select
                question.className += " questionRadioDiv";

                // displaying radio buttons + options for each "select" type question
                for (let eachOption in data.document.content[each].input.options){
                    let optionInput = document.createElement("input");
                    optionInput.setAttribute("type", "radio");
                    optionInput.setAttribute("name", "question" + String(count))
                    optionInput.setAttribute("id", data.document.content[each].input.options[eachOption].label);
                    optionInput.setAttribute("value", data.document.content[each].input.options[eachOption].value);
                    optionInput.className = "radioButtons";
                    let optionLabel = document.createElement('label');
                    optionLabel.setAttribute('for', data.document.content[each].input.options[eachOption].label);
                    optionLabel.innerHTML = data.document.content[each].input.options[eachOption].label;
                    question.appendChild(optionInput);
                    question.appendChild(optionLabel);
                }
            }
            else if (data.document.content[each].input.type === "text"){  // diplaying questions that are type text
                // currently using textareas for each "text" type question
                let textbox = document.createElement("textarea");
                textbox.className = "questionInput";
                question.appendChild(textbox);
            }

            questionsContainer.appendChild(question);

            count++;
        }

        showIndexedQuestion();

        function showIndexedQuestion() {
            console.log("Tried to show index " + questionIndex);
            document.getElementById("question" + String(questionIndex)).style.display = "block"; // Show question div.
        }

        function hideIndexedQuestion() {
            document.getElementById("question" + String(questionIndex)).style.display = "none"; // Hides question div.
        }

        
        function back() {
            if (questionIndex == 0) {
                console.log("Can't go back");
            } else {
                hideIndexedQuestion();
                questionIndex--;
                showIndexedQuestion();
            }
        }
        
        function forward() {
            if (questionIndex == data.document.content.length - 1) {
                console.log("Can't go Forward");
            } else {
                hideIndexedQuestion();
                questionIndex++;
                showIndexedQuestion();
            }
        }

        let backArrow = document.getElementById("backArrow");
        let frontArrow = document.getElementById("frontArrow");
        backArrow.onclick = back;
        frontArrow.onclick = forward;
    </script>
</body>
</html>