<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/writemyrights.css') }}">
        <!-- Montserrat Font -->
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
        <!-- Philosopher Font -->
        <style>
            @font-face {
            font-family: Philosopher;
            src: url('./static/fonts/Philosopher-Regular.ttf');
          }
        </style>
        <title></title>
        <meta charset = 'UTF8'>
        <script></script>
    </head>

    <body>
        <a href="./index.html"><img id="wrmNavbarPicture" src="{{url_for('static', filename='images/Write my Rights.PNG')}}"/></a>

        <div id="wrmNavbarAlign">
            <ul id="wrmNavbar">

            </ul>
        </div>

        <div id="wrmDescriptionAlign">
            <h2 id="wrmDescription">Have you been fired from your job and think your employer owes you money? 
                <b>Let's write your rights.</b>
                </br></br>First, please review and agree to our terms of service.
            </h2>
        </div>
    </br></br>
        <div id="wrmButtonsDiv">
            <a href="./writemyrights.html"><button class="wrmButtons">UNDERSTOOD, LET'S GO</button></a>
        </div>
    </body>
</html>